
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header, main, footer {
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}


header {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

nav a.active {
    font-weight: bold;
}


.hero {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}


.tank-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tank-card {
    width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.tank-card:hover {
    transform: translateY(-5px);
}

.tank-card img {
    border-radius: 5px;
}


.registration {
    text-align: center;
    margin-top: 30px;
}

.registration input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.registration button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registration button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.error-container {
    text-align: center;
    padding: 50px;
}

.error-container h1 {
    font-size: 5em;
    color: #880000;
}

.error-container a {
    color: #333;
}


@media (max-width: 768px) {
    .tank-grid {
        flex-direction: column;
        align-items: center;
    }

    .tank-card {
        width: 80%;
    }
}
